.main{
      display: flex;
      margin:4rem;
      padding:2rem;
}
.main img{
      width: 40%;
      border-radius: 5px;
}
.main div{
      padding:4rem;
      display: flex;
      flex-direction: column;
}
.main h4{
      color: rgb(94, 90, 90);
      font-size: 2.5rem;
      padding-bottom: 1rem;
}
.main h6{
      color: gray;
      font-size: 1rem;
      padding-bottom: 1rem;
}
.main button{
      width:10rem;
      padding:1.5rem;
      background: midnightblue;
      outline: none;
      font-size: 1rem;
      color: wheat;
      border-radius: 10px;;
}
.main button:hover{
      background: white;
      color: midnightblue;
}